
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    font-family: 'ZCOOL KuaiLe', cursive;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 16px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
* {
    box-sizing: border-box;
  }
  
  /*the container must be positioned relative:*/
  .autocomplete {
    position: relative;
    display: inline-block;
  }
  
  input {
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
  }
  
  input[type=text] {
    border: 5px outset cyan;
    border-radius:10px;
    background-color: #f1f1f1;
    width: 100%;
    font-family: 'Indie Flower', cursive;
  }
  
  input[type=submit] {
    border: 1px solid transparent;
    background-color: DodgerBlue;
    color: #fff;
    cursor: pointer;
    font-family: 'Shadows Into Light', cursive;
  }
  
  .autocomplete-items {
    position: absolute;
    font-family: 'Caveat', cursive;
    border: 1px #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
  }
  
  .autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff; 
    border-bottom: 1px solid #d4d4d4; 
  }
  
  /*when hovering an item:*/
  .autocomplete-items div:hover {
    background-color: #e9e9e9; 
  }
  
  /*when navigating through the items using the arrow keys:*/
  .autocomplete-active {
    background-color: DodgerBlue !important; 
    color: #ffffff; 
  }
  
.heading {
    font-size: 40px;
    width: 100%;
    margin: 0px;
    border-radius: 20px;
    font-family: 'Luckiest Guy', cursive;
    color: rgb(0, 0, 0);
    height: 200px;
    padding: 20px;
    box-shadow:5px 5px 18px black;
    margin-bottom:25px;
}

.heading_label{
  width:100%;
  margin:25px;
  font-size:62.5px;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color:black;
}

.copyright_footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    color: chartreuse;
    width: 100%;
    background-color: rgb(34, 67, 255);
    text-align: center;
    line-height: 3;
    margin-top:10px;
    border-radius:10px;
}

p,h2,h3,h4,h5,h6,span{
 color:white;
}